
video {
  max-width: 100%;
  width: 320px;
}
/*my css*/
body{
	color:#cfd8dc;
	/*font-family: 'Droid Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
}

.divider {
    height: 1px;
    background-color: #00bcd4;
}

.row{
	margin-bottom: 0px;
}

.user_img{
	margin-top: 10px;
}

.text_message{
	border-radius: 20px;
	margin-top: 5px;
}
.user_alias{
	margin-top: 0px;
	padding-top: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
	color:#00b0ff;
	font-weight: bold;
	line-height: 1.2;
}
.new_message_text{
	margin-top:0px;
	margin-left: 10px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	line-height: 1.1;
	word-wrap: break-word;
}
.display_none{
	display: none;
}

.collection{
	border: none;
}
.collection a.collection-item{
	background-color:#37474f;
	color:#cfd8dc;
	border-bottom: 1px solid #00bcd4;
}
.collection a.collection-item:not(.active):hover {
	background-color:#455a64;
}
.call_button{
	height: 25px;
	line-height: 25px;
	text-transform: none;
	top: -2px;
}
input[type="text"].option_field{
	height: 1.5rem;
}
input[type="text"]:disabled + label{
	color: #9e9e9e;
}
input[type="text"]:disabled {
	color: #9e9e9e;
	border-bottom: 1px dotted #9e9e9e;
}



#left_column{
	height: 100vh;
}
#center_column{
	height: 100vh;
	padding: 0 0.0rem;
}
#center_column p{
	padding: 0 0.7rem;
}
#right_column{
	height: 100vh;
	overflow: auto;
}

#canvas{
	padding: 0 0px;
	margin-bottom: 0px;
	position: absolute;
	top: 100px;
}
#connected_users_container{
	height: 80%;
	overflow: auto;
}
#new_message_textbox{padding: 0 0px;}

#option_button{
	margin-bottom: 10px;
	margin-top: 15px;
	height: 25px;
	line-height: 25px;
	text-transform: none;
}
